footer {
  background-color: #36475e;
  padding: 20px 0;
}
footer p {
  text-align: center;
  margin: 0;
  padding: 0;
  color: #636d7d;
}
.about {
  text-align: left;
  width: 80%;
  max-width: 560px;
  margin: 20px auto 0 auto;
}
.about p {
  font-size: 13px;
  padding: 0 0 10px 0;
}
