.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.third {
  width: 100%;
}
.two-third {
  width: 100%;
}
@media all and (min-width: 700px) {
  .third {
    width: 33%;
    float: left;
  }
  .two-third {
    width: 66%;
    float: left;
  }
}
