.main-header {
  display: inline-block;
  padding: 80px 0;
  width: 100%;
  background-color: #d5dae5;
  background-image: url('../images/openen_blurred.jpg');
  background-position: center;
}
.main-header h1 {
  color: #36475e;
  text-align: center;
}
.main-header .sub-title {
  text-align: center;
  margin: 0;
  color: #36475e;
  padding: 0 10px;
  font-size: 20px;
}
